.f-color{
  color: #22577a;
}
.bg-custom {
  background-color: aliceblue;
}body{
  padding-top: 85px;
  background-color: #22577a;
}
section {
  height: 100vh; /* Each section takes full viewport height for demonstration */
  padding-top: 90px;
}

.responsive-text-slide{
  position: static; /* Default position */
}

@media (max-width: 576px) { /* Adjust the max-width as needed */
  .responsive-text-slide {
      position: absolute; /* Change to absolute */
      color: white;
      font-weight: bold;
  }
}


#loading {
    display: none;
}



footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}

