body{
  padding-top: 85px;
  background-color: aliceblue;
}
section {
  height: 100vh; /* Each section takes full viewport height for demonstration */
  padding-top: 90px;
}
.image-carousel{
  width: 550px;
  height: 550px;
}

.f-color{
  color: red;
}
.my-btn{
  color: black;
  font-weight: bold;
  font-size: 3rem;
}
.responsive-text-slide{
  position: static; /* Default position */
}

@media (max-width: 576px) { /* Adjust the max-width as needed */
  .responsive-text-slide {
      position: absolute; /* Change to absolute */
      color: white;
      font-weight: bold;
  }
}

/* Add this to your CSS file or within a <style> tag in the <head> */
.navbar-toggler {
  margin-top: 10px; /* Adjust this value as needed */
  margin-right: 15px; /* Adjust this value as needed */
}

.food-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  transition: box-shadow 0.3s;
}
.food-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.food-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
}

